
.corpo{
    margin: 0;
    box-sizing: border-box;
   min-height: 100vh;
   width: 100vw;
    display: flex;
    justify-content: center;
    place-items: start;
    color: white;
    background-color: cornflowerblue;

}

.Container{
    background-color: cornflowerblue;
text-align: center;

}

input{
    font-size: 15px;

}

ul{
    
padding-left: 21px;
color: #d4d4d4;
font-size: 20px;
}
button{
    font-size: 15px;
    margin: 1;
}



li{
    padding: 0;
     font-size: 20px;
margin: 0;
list-style: decimal;
}


